body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow-y: scroll;
}

.curtains {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 999999;
	background: transparent;
	transition: all 0.4s ease-in-out;
}

.curtains .curtain {
	background: #fff;
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	transition: all 0.4s ease-in;
	background-image: url('https://rlv.zcache.co.uk/your_logo_here_classic_round_sticker-r2acca0b24567489b9215e7360d9e9dc6_v9waf_8byvr_324.jpg');
	background-repeat: no-repeat;
}

.curtains .leftCurtain {
	left: -50%;
	background-position: calc(100% + 162px) 50%;
}

.curtains .rightCurtain {
	right: -50%;
	background-position: -162px 50%;
}

.curtains .rightCurtain .curt {
	margin-left: -100%;
}

.curtainsActive {
	pointer-events: all;
	background: rgba(0, 0, 0, 0.5);
}

.curtainsActive .leftCurtain {
	left: 0;
}

.curtainsActive .rightCurtain {
	right: 0;
}
