// app global css

*::-webkit-scrollbar
	height 10px
	width 10px

*::-webkit-scrollbar-thumb
	background-color rgba(0, 0, 0, .3)

.q
	&-field
		margin-top 5px
		&-content > div::before
			transform scaleY(1.5)

h1
	font-size 2em
	color #286fa3
	margin-top 0

h2
	font-size 22.5px
	color #286fa3
	border-bottom 1px solid #ddd
	padding-bottom .4em

a
	color #4e9bd4
	text-decoration none
	border-bottom 1px dotted #4e9bd4
	transition all .3s ease-in-out
	padding 0 2px
	&:hover
		color #286fa3
		background-color #cde3f3

.q-layout-page
	color #34495e
